.body, .top, .second, .third, .images-subtext, .fourth-text {
    display:flex;
    flex-direction: column;
}

body {
    margin:0px;
}

.top, footer {
    background-color: #1F2937;
}

.header, .first, .image-subtext, .fourth, .links {
    display: flex;
}

.second-header {
    text-align: center;
}



.images-second {
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    display: flex;
    flex: 0 0 100%;
    
}

.image-subtext img {
    height: 200px;
    border-radius: 20px;
    border: solid blue 2px;
    width: 200px;
    
    
}

.image-subtext p{
    width:180px;
    text-align:center;
    flex-wrap: wrap;
}

.right-links {
    gap: 15px;
    margin-top: 20px;
}

.right-links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.image-placeholder {
    text-align: center;
    color: #F9FAF8;
    width: 500px;
    height: 200px;
    background-color: gray;
}

.image-placeholder p {
    margin: 90px;
}

.first-container {
    padding-bottom: 100px;
    width: 470px;
}

.header{
    gap: 450px;
}

.first{
    gap: 100px;
    align-items:center;
}

.top {
    align-items:center;
}

.first-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.first-header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first-button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 0px;
    width: 100px;
    height: 30px;
    border-style: solid;
}

.second-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.third {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote {
    margin-top: 200px;
    margin-bottom: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #1F2937;
    width: 750px;
}

.quoter {
    flex-basis: 200px;
    padding-left: 150px;
}

.fourth {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    margin: 80px 150px 80px 150px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 1000px;
}

.fourth-header {
    font-weight: 900;
    font-size: 18px;
    margin: 40px;
}

.fourth-subtext {
    margin: 0 0 40px 0;
}

.fourth-button {
    align-self: center;
    padding: 5px 25px 5px 25px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #F9FAF8;
    border-style: solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #1F2937;
}

.footer p{
    color: #F9FAF8;
    font-size: 10px;
}






